/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #ffbf00;
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
}

text-decoration nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

nav ul li.active a {
    background-color: rgba(255, 255, 255, 0.3);
}

.sidebar {
    background-color: #2c3e50;
    color: #fff;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    padding: 20px;
    overflow-y: auto;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sidebar a:hover {
    background-color: #34495e;
}